:root {
    --color-black: #000;
    --color-primary: #ff7716;
    --color-white: #FFF;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 15px;
}

a {
    color: inherit;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    text-decoration: none;
}

/* O V E R F L O W on BODY*/

.overflow {
    overflow-y: hidden;
}

/* O V E R F L O W on BODY*/

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orange {
    color: var(--color-primary);
}


/* NAVBAR START */

.nav-wrapper {
    z-index: 999;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.nav-container {
    padding: 1em 2em;
    margin: auto;
    max-width: 1280px;
}

.nav-container .brand {
    font-weight: 500;
    letter-spacing: 5px;
}

.nav-wrapper .menus a {
    margin: 0 2em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.nav-wrapper .menus a.active {
    background-color: var(--color-black);
    color: var(--color-white);
}

/* NAVBAR ENDS*/

.container {}

.wrapper {
    padding-top: 2em;
    position: relative;
    margin: auto;
    max-width: 1280px;
}

.words {
    font-weight: 800;
    line-height: 1.5;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 3.6vw;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture img {
    height: 90vh;
}