:root {
    --color-black: #000;
    --color-primary: #ff7716;
    --color-white: #FFF;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Raleway', sans-serif;
    color: black;
}

a {
    color: inherit;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    text-decoration: none;
}

/* O V E R F L O W */

.overflow {
    overflow-y: hidden;
}

/* O V E R F L O W */

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-between {
    justify-content: space-between;
    align-items: center;
}


.flex-even {
    justify-content: space-evenly;
    align-items: center;
}

.flex {
    display: flex;
}

.flex-dir-column {
    flex-direction: column;
}

.orange {
    color: var(--color-primary);
}


/* NAVBAR START */

.nav-wrapper {
    z-index: 98;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.nav-container {
    padding: 1em 2em;
    margin: auto;
    max-width: 1280px;
}

.nav-container .brand {
    user-select: none;
    font-weight: 500;
    letter-spacing: 5px;
}

.nav-wrapper .menus a {
    margin: 0 2em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.nav-wrapper .menus a:not(.active):hover {
    opacity: 0.5;
}

.nav-wrapper .menus a.active {
    background-color: var(--color-black);
    color: var(--color-white);
}

/* NAVBAR ENDS*/

.warning-text {
    display: none;
}

.wrapper {
    padding: 1em 2em;
    position: relative;
    margin: auto;
    max-width: 1280px;
}

.words {
    font-weight: 800;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 3.6vw;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture img {
    height: 90vh;
}

.inside-wrapper {
    width: 80%;
    margin: 3em auto 0;
}

.timeline {
    width: 100px;
    margin-bottom: 1em;
}

.timeline .linewrap {
    position: relative;
    margin: 0 auto;
    width: 30px;
    height: 100%;
}

.timeline .linewrap .line {
    margin: 0.5em 0 1em;
    z-index: -1;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
    bottom: 0;
    background-color: var(--color-black);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.timeline .linewrap .circlewrap {
    margin-bottom: 1em;
    padding: 70px 0;
    height: 200px;
    width: 100%;
}

.timeline .linewrap .circlewrap .circle {
    position: relative;
    margin: 0 auto;
    height: 20px;
    width: 20px;
    background-color: var(--color-primary);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.timeline .linewrap .circlewrap .circle::after {
    content: attr(data-year);
    position: absolute;
    top: 0;
    right: -50px;
    font-weight: 900;
    font-size: 1.1em;
}


.list {
    margin: 0 1em 1em 4em;
}

.project__picture {
    margin: 1em;
    height: 200px;
    width: 500px;
    background-color: #aaa;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.project__desc {
    width: 80%;
    line-height: 1.5;
    padding: 15px 20px;
}

.project__desc .project__title {
    margin-bottom: 1em;
    font-weight: 900;
    font-size: 1.2em;
}

.project__desc .project__details {
    font-weight: 500;
}

.paragraph {
    font-size: 1.5em;
    line-height: 2;
    font-weight: 500;
}

.contact-box {
    text-align: center;
    margin: 2em auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contact-box .link {
    margin: 1em 1em 0 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.contact-box .link:hover {
    opacity: 0.6;
}


/* MEDIAQUERIES */

@media screen and (max-width : 1000px) {
    .warning-text {
        padding: 50px 10px;
        text-align: center;
        display: block;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        line-height: 1.5;
        font-weight: bolder;
        background-color: var(--color-white);
        color: var(--color-black);
    }
}